<form action="<%= cat_rental_requests_url %>" method="post">
  <%# if action == :edit %>
    <!-- <input type="hidden" name="_method" value="patch"> -->
  <%# end %>
  <label>
    Cat:
    <select name="cat_rental_request[cat_id]">
      <option value=""></option>
      <% @cat_ids.each do |cat_id| %>
      <option value="<%=cat_id%>" <%= "selected" if @cat_rental_request.cat_id == cat_id %>> <%= cat_id %></option>
      <% end %>
    </select>
  </label>
  <label>
    Start date:
    <input type="date" name="cat_rental_request[start_date]" value="<%= @cat_rental_request.start_date %>">
  </label>
  <label>
    End date:
    <input type="date" name="cat_rental_request[end_date]" value="<%= @cat_rental_request.end_date %>">
  </label>
  <input type="submit" value="Submit your cat request">
</form>
