<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th> Sex </th>
    <th> Color </th>
    <th> Birthday </th>
    <th> Description </th>
  </tr>
  <tr>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>
